.App {
	text-align: center;
	color: #343434;
}

.responsive-img {
	position: relative;
	height: 75vh;
	float: right;
}

@media screen and (max-width: 900px) {
	.responsive-img {
		float: right;
		width: 100%;
		height: auto;
		max-height: 400px; /* adjust the maximum height as needed */
	}
}

@media screen and (max-width: 900px) {
	.SearchBar {
		width: 200px;
		height: 30px;
		border-radius: 15px;
	}
}

@font-face {
	font-family: 'ethnocentric';
	src: url('app/assets/fonts/ethnocentric/ethnocentric rg.otf')
		format('truetype');
}

.Logo,
.navbar .nav-link {
	font-family: 'ethnocentric';
	color: #343434;
}
